<% layout("/layouts/boilerplate")%>

<div id="filters">
  <div class="filters">
    <div><i class="fa-solid fa-fire"></i></div>
    <p>Trending</p>
  </div>

  <div class="filters">
    <div><i class="fa-solid fa-bed"></i></div>
    <p>Rooms</p>
  </div>
  
  <div class="filters">
    <div><i class="fa-solid fa-city"></i></div>
    <p>Iconic Cities</p>
  </div>

  <div class="filters">
    <div><i class="fa-solid fa-person-skiing"></i></div>
    <p>Arctic</p>
  </div>
  
  <div class="filters">
    <div><i class="fa-solid fa-umbrella-beach"></i></div>
    <p>Beach</p>
  </div>

  <div class="filters">
    <div><i class="fa-solid fa-mountain-city"></i></div>
    <p>Peaceful</p>
  </div>

  <div class="filters">
    <div><i class="fa-brands fa-fort-awesome"></i></div>
    <p>Castle</p>
  </div>

  <div class="filters">
    <div><i class="fa-solid fa-person-swimming"></i></div>
    <p>Pools</p>
  </div>

  <div class="filters">
    <div><i class="fa-solid fa-campground"></i></div>
    <p>Camp</p>
  </div>

  <div class="filters">
    <div><i class="fa-solid fa-tents"></i></div>
    <p>Tents</p>
  </div>

  <div class="filters">
    <div><i class="fa-solid fa-tree"></i></div>
    <p>Forest</p>
  </div>

  <div class="filters">
    <div><i class="fa-solid fa-cow"></i></div>
    <p>Farms</p>
  </div>
  

</div>


<form method="post" action="/home" >
    <div class="card card-homebg" >
        <div class="card-home mt-1 ms-3 mb-3" >
        <img src="https://images.unsplash.com/photo-1618245318763-a15156d6b23c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGhvdXNlJTIwaW4lMjBuYXR1cmUlMjB3aXRoJTIwYmVhY2h8ZW58MHx8MHx8fDA%3D" 
        class="card-img wel-img " alt="images">
        <div class="card-body">
            <h1 class="col-7 offset-4 mt-3" ><b><a href="/listings" style="color: red;">Welcome to Wanderlust</a> </b></h1>
          <p class="card-text col-7 offset-5 mt-3">We always provide you the best</p>
        </div>
        </div>
      </div>
<br><br>
      <div class="centre-pic ms-1 mb-2"  >
        <div class="mt-4" style="font-family: Georgia, 'Times New Roman', Times, serif;">
           <h4>How to shop like a French it Girl in Paris</h4>
          <p>The specialist</p>
        </div>
          <div>
        <img src="https://ychef.files.bbci.co.uk/1600x900/p0gy3482.webp" class="centre-img" alt="img" >
      </div>
      </div>

<div class="middle-pic mt-4 ">
  <div style="font-family: Georgia, 'Times New Roman', Times, serif;" class="ms-2" >
    <img src="https://ychef.files.bbci.co.uk/1600x900/p0gxqwb7.webp" class="mid-pic ms-3 mb-2" alt="img">
    <p class="ms-3">   W O R L D 'S   T A B L E</p>
    <p class="ms-3" >  A star shaped bread for christmas</p>
  </div>
  <div style="font-family: Georgia, 'Times New Roman', Times, serif;" class="ms-2" >
    <img src="https://ychef.files.bbci.co.uk/1600x900/p0gy1rtv.webp" class="mid-pic ms-3 mb-2" alt="img">
    <p class="ms-3">  D I S C O V E R Y</p>
    <p class="ms-3">  One of the Euorpe's least visited corner.</p>
  </div>
  <div style="font-family: Georgia, 'Times New Roman', Times, serif;" class="ms-2">
    <img src="https://ychef.files.bbci.co.uk/1600x900/p0gwfq7p.webp" class="mid-pic ms-3 mb-2" alt="img">
    <p class="ms-3">  W O R L D 'S   T A B L E</p>
    <p class="ms-3">  A Roman way to celebrate Hanukkah.</p>
  </div>
</div>

<br>
<p>  <a class="nav-link " href="/listings"><b>Show more</b></a></p>
<br><br><hr><br>

<div class="big-pic">
  <img src="https://ychef.files.bbci.co.uk/1600x900/p09xq72k.webp"  class="big-img" alt="img">
  <div class="centered ">
    <p style="font-weight: 900" class="ms-2">CHANGING HOW THE WORLD THINK ABOUT FOOD</p>
    <h2 style="font-weight: 900" class="ms-4">  W O R L D'S     T A B L E</h2>
  </div>
 
</div>

<br><br><hr><br>
      <div class="centre-pic ms-1 mb-2" >
        <div class="mt-4" style="font-family: Georgia, 'Times New Roman', Times, serif;">
           <h4>The World's best tourism village</h4>
          <p>CULTURE AND IDENTITY</p>
        </div>
          <div>
        <img src="https://ychef.files.bbci.co.uk/1600x900/p0gpqlyg.webp" class="centre-img" alt="img">
      </div>
      </div>
<br>

<div class="middle-pic mt-4 ">
  <div style="font-family: Georgia, 'Times New Roman', Times, serif;" class="ms-2" >
    <img src="https://ychef.files.bbci.co.uk/1600x900/p0gld47f.webp" class="mid-pic ms-3 mb-2" alt="img">
    <p class="ms-3">   ADVENTURE & EXPERIENCE</p>
    <p class="ms-3" > Is this the end of the beach holiday?</p>
  </div>
  <div style="font-family: Georgia, 'Times New Roman', Times, serif;" class="ms-2" >
    <img src="https://ychef.files.bbci.co.uk/1600x900/p0gpz984.webp" class="mid-pic ms-3 mb-2" alt="img">
    <p class="ms-3">    W O R L D 'S   T A B L E</p>
    <p class="ms-3">  How Massimo Bottura is redefining in BBQ?</p>
  </div>
  <div style="font-family: Georgia, 'Times New Roman', Times, serif;" class="ms-2">
    <img src="https://ychef.files.bbci.co.uk/1600x900/p0g6rb3q.webp" class="mid-pic ms-3 mb-2" alt="img">
    <p class="ms-3"> LIVING IN</p>
    <p class="ms-3"> Why do people love living in USA?</p>
  </div>
</div>
<br>
<p>  <a class="nav-link " href="/listings"><b>Show more</b></a></p>
</form>
